@model  LuonBenBan.Model.Models.Article
@using LuonBenBan.Model.Models;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<Article> lst = ViewBag.lst;
    
}
<!-- Main Breadcrumb -->    
<div class="main-breadcrumb">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ol class="breadcrumb">
                    <li><a href="/">Trang chủ</a></li>
                    <li><a href="/tin-tuc">Tin tức</a></li>
                    <li class="active">@Model.Title</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- End Main Breadcrumb -->
<div class="main-content">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="article-cate clearfix">
                    <div class="pull-left">
                        <h3><i class="fa fa-caret-right"></i> Tin tức</h3>
                    </div>
                    <div class="pull-right">
                        <p class="blog-cate"><i class="fa fa-tags"></i> Chuyên mục: <a href="/tin-tuc">Tin tức</a></p>
                    </div>
                </div>
                <div class="article">
                    <h1  >@Model.Title</h1>
                    <div class="article-info">
                        <p class="blog-info">@Model.CreatedBy <span style="margin:0px 10px">|</span> @Model.CreatedDate</p>
                    </div>
                    <div class="article-content">
                        @Html.Raw(Model.Detail)
                    </div>
                    <div class="tags">
                    </div>
                </div>

            </div>
            <div class="col-md-3">
                <div class="blog-cata block">
                    <h2 class="blog-heading"><i class="fa fa-caret-right"></i> Danh mục tin</h2>
                    <div class="blog-cata-content">
                        <ul>

                            <li class=""><a href="/tu-van">Tư vấn</a></li>

                            <li class=""><a href="/tuyen-dung">Tuyển dụng</a></li>

                            <li class=""><a href="/tin-tuc">Tin tức</a></li>

                        </ul>
                    </div>
                </div>

                <div class="blog-banner block">
                    <a href="#"><img src="~/FileUploads/images/banner-blog.png"></a>
                </div>

                <div class="blog-new block">
                    <h2 class="blog-heading"><i class="fa fa-caret-right"></i> Có thể bạn quan tâm</h2>
                    <div class="blog-new-content">
                        @if (lst.Count >= 4)
                        {
                            for (int i = 0; i < 4; i++)
                            {
                                <div class="blog-new-name">
                                    <a href="/tin-tuc-@lst[i].Alias-@lst[i].ArticleID">@lst[i].Title</a>
                                    <p class="blog-info">@lst[i].CreatedBy | @lst[i].CreatedDate</p>
                                </div>
                            }
                        }
                        else
                        {
                            for (int i = 0; i < lst.Count; i++)
                            {
                                <div class="blog-new-name">
                                    <a href="/tin-tuc-@lst[i].Alias-@lst[i].ArticleID">@lst[i].Title</a>
                                    <p class="blog-info">@lst[i].CreatedBy | @lst[i].CreatedDate</p>
                                </div>
                            }
                        }

                    </div>
                </div>

            </div>
            <div class="col-sm-12" style="margin-top:15px">
                <div class="article-cate clearfix">
                    <div class="pull-left">
                        <h3><i class="fa fa-caret-right"></i> Tin liên quan</h3>
                    </div>
                </div>
                <div class="blog-related owl-carousel owl-theme" id="related" style="opacity: 1; display: block;">

                    <div class="owl-wrapper-outer">
                        <div class="owl-wrapper" style="width: 1710px; left: 0px; display: block;">
                            @foreach ( Article z in lst)
                            {
                                <div class="owl-item" style="width: 285px;">
                                    <div class="item">
                                        <div class="col-md-4 col-sm-4 col-xs-4 no-padding">
                                            <div class="related-image">
                                                <a href="/article/@z.Alias--@z.ArticleID">
                                                    <img src="@z.ArticleImage" alt="" class="img-responsive">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-md-8 col-sm-8 col-xs-8">
                                            <div class="related-name">
                                                <a href="/article/@z.Alias--@z.ArticleID">@z.MetaTitle</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                           
                        </div>
                    </div>
                    <div class="owl-controls clickable" style="display: none;"><div class="owl-buttons"><div class="owl-prev"><i class="fa fa-angle-double-left"></i></div><div class="owl-next"><i class="fa fa-angle-double-right"></i></div></div></div>
                </div>

                <div class="article-comment">
                    <div class="comment-list">
                        <h3 class="comment-heading">Bình luận</h3>
                    </div>

                    <div class="comment-add">
                        <h3 class="comment-heading">Viết bình luận</h3>
                        <div class="form-style">
                            <form accept-charset="UTF-8" action="#" method="post">
                                <input name="FormType" type="hidden" value="article_comments">
                                <input name="utf8" type="hidden" value="true">
                                <div class="row">
                                    <div class="col-md-12">
                                    </div>
                                    <div class="col-md-12">
                                        <input type="text" placeholder="Họ và tên" name="Author" value="" class="input-control">
                                        <input type="text" placeholder="Email" name="Email" value="" class="input-control">
                                    </div>
                                    <div class="col-md-12">
                                        <textarea rows="8" placeholder="Viết bình luận của bạn" name="Body"></textarea>
                                    </div>
                                    <div class="col-md-12">
                                        <button class="product-atc" type="submit">Gửi</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

